body{
    background-color: lightgray;
    min-width: 35%;
    max-width: 70%;
}


#btn{
    border-radius: 40%;
    width: 400px;
    height: 60px;
    background-color: rgb(115, 105, 224);
}

#logo{
    width: 100px;
    height: 80px;
}

#nav{
    font-size: 60px;
}

#na{
    display: inline;
}